<ion-content class="login-content">

  <div class="login-header fade-in">
    <h1>Welcome Back</h1>
    <p>Accede a tu billetera digital</p>
  </div>

  <div class="login-card slide-up">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email">
        </ion-input>
      </div>

      <ion-text color="danger" *ngIf="f['email'].touched && f['email'].invalid">
        <small>Ingresa un correo válido.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="lock-closed-outline"></ion-icon>

        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          formControlName="password">
        </ion-input>

        <ion-button fill="clear" type="button" (click)="togglePassword()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </div>

      <ion-text color="danger" *ngIf="f['password'].touched && f['password'].invalid">
        <small>La contraseña debe tener mínimo 6 caracteres.</small>
      </ion-text>

      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>

      <ion-button
        expand="block"
        class="login-btn"
        type="submit"
        [disabled]="isSubmitting">
        {{ isSubmitting ? 'Ingresando...' : 'LOGIN' }}
      </ion-button>

      <div class="divider">
        <span>o continúa con</span>
      </div>

      <ion-button
        expand="block"
        fill="outline"
        class="google-btn"
        type="button"
        (click)="loginWithGoogle()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Google
      </ion-button>

      <p class="register-text">
        ¿No tienes cuenta?
        <span (click)="goToRegister()">Regístrate</span>
      </p>

      <ion-button
        expand="block"
        fill="clear"
        class="biometric-btn"
        type="button"
        *ngIf="canUseBiometrics"
        (click)="loginWithBiometrics()">
        <ion-icon name="finger-print-outline"></ion-icon>
        Ingresar con biometría
      </ion-button>

    </form>
  </div>

</ion-content>