<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="f['name'].touched && f['name'].invalid">
      <small>El nombre es obligatorio.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="f['lastName'].touched && f['lastName'].invalid">
      <small>El apellido es obligatorio.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Tipo de documento</ion-label>
      <ion-select formControlName="documentType" interface="popover">
        <ion-select-option *ngFor="let type of documentTypes" [value]="type">
          {{ type }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="f['documentType'].touched && f['documentType'].invalid">
      <small>Seleccione un tipo de documento.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Número de documento</ion-label>
      <ion-input formControlName="documentNumber"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="f['documentNumber'].touched && f['documentNumber'].invalid">
      <small>El número de documento es obligatorio.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">País</ion-label>
      <ion-input
        formControlName="country"
        autocapitalize="words">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="f['country'].touched && f['country'].invalid">
      <small>El país es obligatorio.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="f['email'].touched && f['email'].invalid">
      <small>Ingrese un correo válido.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="f['password'].touched && f['password'].invalid">
      <small>La contraseña debe tener mínimo 6 caracteres.</small>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top"
      [disabled]="isSubmitting">
      {{ isSubmitting ? 'Registrando...' : 'Crear cuenta' }}
    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      type="button"
      class="ion-margin-top"
      (click)="goToLogin()">
      Ir al login
    </ion-button>
  </form>
</ion-content>
