<ion-content class="register-content">

  <div class="register-header fade-in">
    <h1>Create Account</h1>
    <p>Registra tu información para comenzar</p>
  </div>

  <div class="register-card slide-up">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input
          placeholder="Nombre"
          formControlName="name">
        </ion-input>
      </div>
      <ion-text color="danger" *ngIf="f['name'].touched && f['name'].invalid">
        <small>Ingresa tu nombre.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input
          placeholder="Apellido"
          formControlName="lastName">
        </ion-input>
      </div>
      <ion-text color="danger" *ngIf="f['lastName'].touched && f['lastName'].invalid">
        <small>Ingresa tu apellido.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="card-outline"></ion-icon>
        <ion-select
          interface="popover"
          placeholder="Tipo de documento"
          formControlName="documentType">
          <ion-select-option value="CC">Cédula de ciudadanía</ion-select-option>
          <ion-select-option value="CE">Cédula de extranjería</ion-select-option>
          <ion-select-option value="TI">Tarjeta de identidad</ion-select-option>
          <ion-select-option value="PP">Pasaporte</ion-select-option>
        </ion-select>
      </div>
      <ion-text color="danger" *ngIf="f['documentType'].touched && f['documentType'].invalid">
        <small>Selecciona el tipo de documento.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-input
          inputmode="numeric"
          placeholder="Número de documento"
          formControlName="documentNumber">
        </ion-input>
      </div>
      <ion-text color="danger" *ngIf="f['documentNumber'].touched && f['documentNumber'].invalid">
        <small>Ingresa el número de documento.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-input
          placeholder="País"
          formControlName="country">
        </ion-input>
      </div>
      <ion-text color="danger" *ngIf="f['country'].touched && f['country'].invalid">
        <small>Ingresa tu país.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email">
        </ion-input>
      </div>
      <ion-text color="danger" *ngIf="f['email'].touched && f['email'].invalid">
        <small>Ingresa un correo válido.</small>
      </ion-text>

      <div class="input-group">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          formControlName="password">
        </ion-input>

        <ion-button fill="clear" type="button" (click)="togglePassword()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </div>
      <ion-text color="danger" *ngIf="f['password'].touched && f['password'].invalid">
        <small>La contraseña debe tener mínimo 6 caracteres.</small>
      </ion-text>

      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>

      <ion-button
        expand="block"
        class="register-btn"
        type="submit"
        [disabled]="isSubmitting">
        {{ isSubmitting ? 'Creando cuenta...' : 'CREAR CUENTA' }}
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        class="login-link-btn"
        type="button"
        (click)="goToLogin()">
        IR AL LOGIN
      </ion-button>

    </form>
  </div>

</ion-content>
